
.blog {
  h2 {
    font-size: $font-size-md;
    text-transform: uppercase;
  }

  .post-list {
    display: flex;
    flex-wrap: wrap;
    button {
      margin: 0 auto;
    }
  }

  .excerpt {
    width: calc(100% / 3);
    margin: $gutter-width-lg 0;
    padding: 0 $gutter-width-lg;

    .thumbnail {
      width: 100%;
    }

    .excerpt-meta {

      background: #f6f6f6;
      padding: $gutter-width-md;
      

      h2 {
        margin-bottom: $gutter-width-md;
      }

      time {
        font-weight: $font-weight-bold;
        color: gray;
      }
      
      p {
        font-weight: $font-weight-light;
        margin-top: $gutter-width-sm;
      }

    }

    &:hover {
      .excerpt-meta {
        background: #eaeaea;
      }
    }

  }

  .post {
    margin: $gutter-width-lg;

    .featured-img {
      position: relative;
      width: 100%;
    }

    .post-content {
      position: relative;
      background-color: white;
      width: 80%;
      margin: -300px auto;
      padding: $gutter-width-lg;

      h1 {
        text-transform: uppercase;
        text-align: center;
        margin-top: $gutter-width-md;
        margin-bottom: $gutter-width-xl;
        font-size: $font-size-xl;
      }

      h2 {
        margin-top: $gutter-width-xl;
        margin-bottom: $gutter-width-lg;
        font-size: $font-size-lg;
      }

      h3 {
        margin-top: $gutter-width-lg;
        margin-bottom: $gutter-width-md;
        font-size: $font-size-md;
      }

      p {
        font-weight: $font-weight-light;
        margin: $gutter-width-md 0;
        b, strong {
          font-weight: $font-weight-base;
        }
      }

      img {
        width: 100%;
        margin: $gutter-width-lg 0;
      }
    }
  }
}