$font-family-base: 'Roboto', sans-serif;
$font-weight-base: 400;

$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 22px;
$font-size-xl: 26px;

$gutter-width-xs: 5px;
$gutter-width-sm: 10px;
$gutter-width-md: 15px;
$gutter-width-lg: 30px;
$gutter-width-xl: 45px;

$brand-primary-color:   #5d73f5;
$brand-secondary-color: #02E8E4;
$brand-pale-color:      #dadada;