@import '../node_modules/reset-scss/reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import 'variables';
@import 'nav';
@import 'blog';

body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

.container {
  margin: $gutter-width-md;
}

.blog, 
.page {
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

button {
  text-transform: uppercase;
  padding: $gutter-width-xs;
  border: 1px solid $brand-primary-color;
  color: $brand-primary-color;

  &:hover {
    background-color: $brand-primary-color;
    color: $brand-pale-color;
  }
}